/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 20px;
  text-align: center;
  font-style: italic;
}

body {
  padding: 10px;
}

/* table titles */
.tableTitle {
  color: #777777;
  font-weight:bold;
  font-size: 12px;
  text-align: right;
  margin-top:10px;
  margin-bottom:2px;
}


/* table header rows */
.tableHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* sort buttons */
.gwt-Button-sort {
  height: 25px;
  font-size: 9px;
}

/* delete button */
.gwt-Button-delete {
  width: 40px;
}

/* information labels */
.infoLabel {
  color: green;
  font-size: 8pt;
  margin-bottom: 25px;
}

/* flex table borders */
.flexTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* input label sizes */
.inputLabel {
  width: 70px;
  padding: 2px;
  margin-bottom:6px;
  text-align: left;
}